# Fichiers sensibles
*.json
.env
.streamlit/secrets.toml
service-account-key.json

# Fichiers système
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Streamlit
.streamlit/.specstory/
LOGO/CVS/CVs_classes.zip
Candidats_RAF_Score_Sup_5.zip
